header
{
	background: #fff url('../images/icon.jpg') 20px center no-repeat;
	background-color: #333333;
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #CCCCCC;
}
